table {
    width: 100%;
}
table {
    border-collapse: collapse;
}
td, th {
    padding: 10px;
}
thead tr {
    background-color: #c7eac7;
}
tbody tr {
    background-color: #ecf8ec;
}
.icon-button:hover {
    background-color: #c7eac7;
}
.icon-button {
    text-align: center;
}
table caption {
    font-size: 18px;
    font-weight: bold;
}
